1_RegularGrammars/src/__pycache__/
2_FiniteAutomata/src/__pycache__/
3_LexerScanner/__pycache__/
DFA.png
NFA.png
4_RegularExpressions/src/__pycache__
5_ChomskyNormalForm/__pycache__
5_ChomskyNormalForm/out.txt